<%= form_for @schedule do |f| %>

    <div class="container">
      <div class="container">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>День</th>
            <th>Початок роботи</th>
            <th>Кінець роботи</th>
            <th>Вихідний?</th>
          </tr>
          </thead>
          <%= f.text_field :doctor_id, class: 'hidden' %>
          <tbody>
            <% Date::DAYNAMES.rotate(1).each_with_index do |weekday, index| %>
              <tr class="success">
                <th>
                  <%= weekday %>
                </th>
                <th>
                  <%= f.time_select "#{weekday.downcase+'_start_time'}", minute_step: 30, :default => {:hour => '00', :minute => '00'} %>
                </th>
                <th>
                  <%= f.time_select "#{weekday.downcase+'_finish_time'}", minute_step: 30, :default => {:hour => '00', :minute => '00'} %>
                </th>
                <th class="text-center">
                  <%= link_to 'Вихідний', '#', class: 'btn btn-success weekend' %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <%= f.submit 'Подтвердить', class: 'btn btn-success btn-block' %>
<% end %>
</div>