<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
              <div class="field">
                <%= f.text_field :name, class: 'form-control btn btn-info ' %>
              </div>
            </h2>
            <hr>
          </div>
          <div class="col-md-6">
            <%= image_tag current_company.image, class: 'img-responsive img-border-left' if current_company.image? %>
          </div>
          <div class="col-md-6">
            <p>
            <div class="field">
              <%= f.label :email %><br/>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            </p>
            <p>
            <div class="field">
              <%= f.label :address %><br/>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            </p>
            <p>
            <div class="field">
              <%= f.label :phone %><br/>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
            </p>
          </div>
          <div class="col-lg-12">
            <div class="field">
              <%= f.label :description %><br/>
              <%= f.text_area :description, :cols => 10, :rows => 10, :class => 'form-control' %>
            </div>
          </div>
          <div class="clearfix"></div>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="col-md-6">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="field">
                <%= f.label :current_password %> <i>(Need to confirm changes)</i><br/>
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <br>
          <div class="actions text-center">
            <%= f.submit "Update", class: 'btn btn-warning' %>
          </div>

  <% end %>


  </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our <strong>Team</strong> <button id="add-new" type="button" class="btn btn-success">Add new</button>
        </h2>
        <hr>
      </div>
      <div class="col-lg-12 add-new-doctor" >
        <%= form_for Doctor.new do |f| %>
            <%= f.text_field :name %>
            <%= f.text_field :email %>
            <%= f.text_field :password %>
            <%= f.submit %>
        <% end %>

        <div class="doctor-info">
          <p id="name"></p>
          <p id="second_name"></p>
          <p id="surname"></p>
          <p id="email"></p>
          <p id="password"></p>
        </div>

        <script>
          $(document).ready(function () {
            $('#add-new').click(function () {
              $('.add-new-doctor').show()
              $('#doctor_name').focus()
            })
          })

          $('doctor-info').hide();

          $('#new_doctor').submit(function (evt) {
            console.log($(this).serialize())
            data = $(this).serialize()
            evt.preventDefault();
            $.post( "/doctors", data, 'application/json')
              .done(function( data ) {
                console.log(data);

                $('#name').text('name: ' + $('#doctor_name').val());
                $('#email').text('email: ' + $('#doctor_email').val());
                $('#password').text('password: '+$('#doctor_password').val());

                $('doctor-info').show();
                $('#doctor_name').val('');
                $('#doctor_email').val('');
                $('#doctor_password').val('');


                var newDoctor = "<div class='col-sm-4 text-center doctor-list-item'>" +
                    "<img class='img-responsive' src='http://placehold.it/750x450'" +
                    "<h3>" +data.name + "<small>"+ "Proctolog" +"</small> </h3> </div>"
                $('.doctor-list-item').last().after(newDoctor).html()
              });
          });

          $('#doctor_password').click(function(){
            var randomstring = Math.random().toString(36).slice(-8);
            $(this).val(randomstring);
          })
        </script>
      </div>

      <% current_company.doctors.each do |doctor| %>
          <div class="col-sm-4 text-center doctor-list-item">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3><%= doctor.name %>
              <small><%= 'Proctolog' %></small>
            </h3>
            <%= link_to 'edit doctor', edit_doctor_path(doctor) if current_company.id == doctor.company.id %>
          </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!-- /.container -->
