
<!-- container -->
<div class="container">





  <script>
    var markers = [];
    var map;
    var myCenter=new google.maps.LatLng(49.422987,32.069530);

    function initialize()
    {
      var mapProp = {
        center:myCenter,
        zoom:13,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

      google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event.latLng);
      });
    }

    function placeMarker(location) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
      var marker = new google.maps.Marker({
        position: location,
        map: map,
      });
      var infowindow = new google.maps.InfoWindow({
        content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
      });
      infowindow.open(map,marker);
      alert('Latitude:  ' + location.lat() + ' \n Longitude: ' + location.lng());
      $('#company_lat').val(location.lat());
      $('#company_lng').val(location.lng());
      //Add marker to the array.
      markers.push(marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <div class="row">

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header ">
        <h1 class="page-title centered">Регістрація</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Зареєструвати но компанію</h3>
            <p class="text-center text-muted">Тут якась інфа<br> <%= render "companies/shared/links" %> </p>
            <hr>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
            <form>
              <div class="top-margin">
                <label>Назва компанії <span class="text-danger">*</span></label>
                <%= f.text_field :name , class: 'form-control' , autofocus: true %>
              </div>
              <div class="top-margin">
                <label>Адреса <span class="text-danger">*</span></label>
                <%= f.text_field :address , class: 'form-control' %>
              </div>
              <div class="top-margin">
                <label>Телефон <span class="text-danger">*</span></label>
                <%= f.text_field :phone , class: 'form-control' %>
              </div>
              <div class="top-margin">
                <label>Опис <span class="text-danger">*</span></label>
                <%= f.text_area :description , :cols => 10, :rows => 4, :class => 'form-control'  %>
              </div>
              <div class="top-margin">
                <label>Лого <span class="text-danger">*</span></label>
                <%= f.file_field :image  , class: 'form-control'  %>
              </div>
              <div class="top-margin">
                <label>Email <span class="text-danger">*</span></label>
                <%= f.email_field :email , class: 'form-control' %>
              </div>
              <div class="top-margin">
                <label>Maps <span class="text-danger">*</span></label>
                <div id="googleMap" style="width:500px;height:380px;"></div>
              </div>


              <div class="field" style="display: none;">
                <%= f.label :lat %><br>
                <%= f.text_field :lat %>
              </div>
              <div class="field" style="display: none;>
                <%= f.label :lng %><br>
                <%= f.text_field :lng %>
              </div>
              <div class="row top-margin">
                <div class="col-sm-6">
                  <label>Password <span class="text-danger">*</span></label><% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters min)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off" , class: 'form-control' %>
                </div>
                <div class="col-sm-6">
                  <label>Confirm Password <span class="text-danger">*</span></label>
                  <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control' %>
                </div>
              </div>

              <hr>

              <div class="row">

                <div class="thin text-center">
                  <%= f.submit "Sign up" , class: 'btn btn-success' %>
                </div>
              </div>
            </form>
            <% end %>
          </div>
        </div>

      </div>

    </article>
    <!-- /Article -->

  </div>
</div>	<!-- /container -->
