<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Доктор</h4>

      </div>
    </div><!-- row -->
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 centered">
        <div class="tilt">
          <%= image_tag(@doctor.photo.url(:medium), class: 'img-circle') %>
        </div>
      </div><!-- col-lg-6 -->
      <div class="col-lg-6">
        <h4>Лікар</h4>
        <h4>
          <div class="field">
            Прізвище<br>
            <%= @doctor.second_name %>
          </div>
        </h4>
        <div class="field">
          Імя<br>
          <%= @doctor.name %>
        </div>
        <div class="field">
          По батькові<br>
          <%= @doctor.surname %>
        </div>
        <p>
          <i class="fa fa-circle-o"></i>
          Категорія <%= @doctor.category %>
          <br>
          <i class="fa fa-circle-o"></i>
          Спеціалізація <%= @doctor.specialization %>
          <br>
          <i class="fa fa-circle-o"></i> Емайл <%= @doctor.email %>
          <br>
          <i class="fa fa-link"></i> <a href="#">BlackTie.co</a>
        </p>
      </div>

    </div><!-- row -->
  </div>

  <div class="container">
    <table class="table table-condensed">
      <thead>

      </thead>
      <tbody>
      <tr>
        <% doctor = @doctor %>
        <% index = Date.today.at_beginning_of_week %>
        <th>Ім'я лікаря</th>
        <% today = Date.today %>
        <% (today.at_beginning_of_week..today.at_end_of_week).map.each do |day| %>
            <th><%= day.strftime("%A - %D") %></th>
        <% end %>
      </tr>
      <tr>
        <td><%= doctor.name %></td>
        <% Date::DAYNAMES.rotate(1).each do |weekday| %>
            <td>
              <% index = index + 1.day %>
              <div class="btn-danger"> <%= p index-1.day %> </div>
              <br>
              <% if is_weekend?(doctor.current_schedule, weekday) %>
                  <%= 'Вихідний' %>
              <% else %>
                  <% if Time.now.to_i < index.to_time.to_i %>
                  <%= doctor.current_schedule.send(weekday.downcase+'_start_time').strftime("%H - %M :") %>
                  <%= doctor.current_schedule.send(weekday.downcase+'_finish_time').strftime("%H - %M") %>
                  <br>
                  <% (doctor.current_schedule.send(weekday.downcase+'_start_time').to_i..doctor.current_schedule.send(weekday.downcase+'_finish_time').to_i).step(doctor.current_schedule.interval.minutes).to_a[0...-1].each do |interval| %>


                      <% iteration_day = index - 1.day %>
                      <% iteration_time = Time.at(interval).utc %>
                      <% record_time = Time.new(iteration_day.year, iteration_day.month, iteration_day.day, iteration_time.hour, iteration_time.min, '00:00') %>
                      <% if Record.where(time: record_time, doctor_id: doctor.id).present? %>
                          <% if current_doctor %>
                              <%= iteration_time.strftime("%H - %M") %>
                              <%= Record.where(time: record_time, doctor_id: doctor.id).first.user.name %>
                              <%= Record.where(time: record_time, doctor_id: doctor.id).first.user.surname %>
                          <% else %>
                              <% if current_user %>
                                  <span class="btn-danger"> <%= 'Ваш запис' %></span>
                              <% else %>
                                  <span class="btn-success">  <%= 'Занято' %></span>
                              <% end %>
                          <% end %>
                      <% elsif current_user %>
                          <%= link_to(iteration_time.strftime("%H - %M"), records_path(user_id: current_user, doctor_id: doctor.id, time: record_time), method: :post, data: {confirm: "Are you sure?"}) %>
                      <% else %>
                          <%= iteration_time.strftime("%H - %M") %>
                      <% end %>
                      <br>
                  <% end %>
                      <% else %>
                      <p align="center" class="btn-warning">  Даний день уже закінчився </p>
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
  <h3>Відгуки</h3>
  <div id="comments-container">
    <%= render @comments %>
  </div>
  <div id="add_comment">
    <% if current_user %>
        <%= render 'comments/form' %>
    <% end %>
  </div>
</div>

<% if current_doctor.present? %>
    <%= link_to 'Logout', doc_logout_path, class: 'btn btn-danger' %>

<% end %>