

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MEDICINE</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= current_page?(companies_index_path) ? 'active' : '' %>"><%= link_to('Список компаній', companies_index_path) %></li>
        <li class="<%= current_page?(doctors_path) ? 'active' : '' %>"><%= link_to 'Cписок лікарів', doctors_path  %></li>
        <li><%= link_to('SERVICES', welcome_services_path) %></li>
        <li><%= link_to('WORKS', welcome_works_path) %></li>
        <% if current_company %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_company.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <%= link_to 'Profile', edit_company_registration_path %> </li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to 'Doctors', company_doctors_path %> </li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to 'Schedule', company_schedule_path %> </li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to 'Выход', destroy_company_session_path, method: 'delete' %></li>
              </ul>
            </li>
        <% elsif current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <%= link_to 'Кабинет', edit_user_registration_path %> </li>
                <li role="separator" class="divider"></li>                
                <li> <%= link_to 'Выход', destroy_user_session_path, method: 'delete' %></li>
              </ul>
            </li>
        <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Компаниям<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <%= link_to 'Регистрация', new_company_registration_path , data: {no_turbolink: true}%> </li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to 'Вход', new_company_session_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Пользователям<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <%= link_to 'Регистрация', new_user_registration_path %> </li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to 'Вход', new_user_session_path %></li>
              </ul>
            </li>
        <% end %>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>



