<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="box">

          <div class="col-md-6">
            <p>
            <div class="field">
              <%= f.label :email %><br/>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            </p>
            <p>
            <div class="field">
              <%= f.label :surname %><br/>
              <%= f.text_field :surname, class: 'form-control' %>
            </div>
            </p>
            <p>
            <div class="field">
              <%= f.label :name %><br/>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            </p>
            <div class="field">
              <%= f.label :patronymic %><br/>
              <%= f.text_field :patronymic, class: 'form-control' %>
            </div>
            <p>
            <div class="field">
              <%= f.label :phone %><br/>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
            <p>
          </div>
          <div class="col-lg-12">
            <div class="field">
              <%= f.label :address %><br/>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            <p>
          </div>
          <div class="clearfix"></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="col-md-6">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="field">
                <%= f.label :current_password %> <i>(Need to confirm changes)</i><br/>
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <br>
          <div class="actions text-center">
            <%= f.submit "Update", class: 'btn btn-default' %>
          </div>

  <% end %>



      <% current_user.records.each do |record| %>

      <div id="blue">
        <div class="container">


              <h3><%= record.time %></h3>
              <h3><%= record.doctor.surname %></h3>


        </div><!-- container -->
      </div><!-- blue wrap -->





      <% end %>




</div>
  </div></div>